body{
    background: url(imagens/pattern-background-desktop.svg) rgb(236, 247, 255) no-repeat;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
span{
    font-weight: bolder;
    color: black;
}
#principal{
    margin-bottom: 350px;

}
.imagem{
    display: block;
    margin-top: 105px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    border-radius: 15px 15px 0px 0px;
}
#pagamento{
    background: rgb(255, 255, 255);
    width: 450px;
    display: block;
    margin-top: -20px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 30px;
    border-radius: 0 0 15px 15px;
    
}
#pagamento > h2{
    text-align: center;
}
#pagamento > p{
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
}
.plan{
    background: rgb(228, 233, 238);
    width: 340px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
}
.anual{
    float: left;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 15px;
}
.clear{
    clear: both;
}
.anual > img{
    padding-left: 20px;
}
.anual > p{
    line-height: 0.6;
    display: table-cell;
    vertical-align: middle;
}
.anual > a{
    display: block;
    font-weight: bolder;
    padding-top: 10px;
    padding-left: 35px;
    color: rgb(55, 0, 255);
}
.payment{
    display: block;
    text-align: center;
    background: rgb(55, 0, 255);
    color: whitesmoke;
    width: 300px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    text-decoration: none;
    border-radius: 15px;
    font-weight: bolder;
}
.cancel{
    display: block;
    text-align: center;
    color: rgb(55, 0, 255);
    width: 300px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    text-decoration: none;
    font-weight: bolder;
}
.payment:hover{
    color: black;
}
.cancel:hover{
    color: black;
}